/*
 * Interactive map styles
 * Rafi Khan
 * December 22, 2014
 */
.container {
  width: 960px;
  margin: 0 auto; }

/* Variables */
/* Everything scoped inside the smoke-map div */
#smoke-map-container {
  /* Data container styles */
  /* Legend container styles */
  /* State layer styles */
  /* County Styles */ }
  #smoke-map-container * {
    box-sizing: border-box;
    font-family: 'helvetica'; }
  #smoke-map-container .pull-left {
    float: left; }
  #smoke-map-container #smoke-map {
    width: 960px;
    height: 650px;
    position: relative; }
  #smoke-map-container svg {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1pt solid #ccc;
    border-radius: 2px;
    background-color: #d4e9ff; }
  #smoke-map-container .smoke-map-head {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 120%; }
  #smoke-map-container .smoke-map-content-container {
    position: absolute;
    width: 320px;
    left: 10px;
    font-size: 12px;
    background-color: #fff;
    border: 1pt solid #ddd;
    border-radius: 2px;
    padding: 10px;
    z-index: 1; }
  #smoke-map-container #smoke-map-control-container {
    top: 10px;
    height: 150px; }
  #smoke-map-container #smoke-map-data-container {
    top: 170px;
    height: 470px;
    overflow-y: scroll; }
  #smoke-map-container #smoke-map-data.state {
    height: 388px; }
  #smoke-map-container #smoke-map-data.county {
    height: 428px; }
  #smoke-map-container #smoke-map-data-options td {
    padding: 3px 5px 3px 0; }
  #smoke-map-container #smoke-map-county-options, #smoke-map-container #smoke-map-state-options {
    margin-bottom: 5px; }
    #smoke-map-container #smoke-map-county-options.hidden, #smoke-map-container #smoke-map-state-options.hidden {
      display: none; }
  #smoke-map-container .smoke-map-control-table td:first-child {
    width: 80px; }
  #smoke-map-container .smoke-map-legend-container {
    z-index: 2;
    position: absolute;
    bottom: 10px;
    left: 340px;
    background-color: white;
    border-radius: 2px;
    border: 1pt solid #ddd;
    padding: 3px; }
    #smoke-map-container .smoke-map-legend-container.pop {
      bottom: 50px; }
    #smoke-map-container .smoke-map-legend-container.hidden {
      display: none; }
    #smoke-map-container .smoke-map-legend-container .legend-block {
      display: inline-block;
      padding: 5px 8px;
      font-size: 8px;
      width: 63px;
      text-align: center; }
      #smoke-map-container .smoke-map-legend-container .legend-block.color-0 {
        background-color: #fafafa; }
      #smoke-map-container .smoke-map-legend-container .legend-block.color-1 {
        background-color: #70fb5e; }
      #smoke-map-container .smoke-map-legend-container .legend-block.color-2 {
        background-color: #c3fb68; }
      #smoke-map-container .smoke-map-legend-container .legend-block.color-3 {
        background-color: #fbf45d; }
      #smoke-map-container .smoke-map-legend-container .legend-block.color-4 {
        background-color: #fbbb4b; }
      #smoke-map-container .smoke-map-legend-container .legend-block.color-5 {
        background-color: #fb6b41; }
      #smoke-map-container .smoke-map-legend-container .legend-block.color-6 {
        background-color: #df4434; }
      #smoke-map-container .smoke-map-legend-container .legend-block.color-7 {
        background-color: #922c21; }
      #smoke-map-container .smoke-map-legend-container .legend-block.grey-0 {
        background-color: #eeeeee; }
      #smoke-map-container .smoke-map-legend-container .legend-block.grey-1 {
        background-color: #cccccc; }
      #smoke-map-container .smoke-map-legend-container .legend-block.grey-2 {
        background-color: #aaaaaa; }
      #smoke-map-container .smoke-map-legend-container .legend-block.grey-3 {
        background-color: #888888; }
      #smoke-map-container .smoke-map-legend-container .legend-block.grey-4 {
        background-color: #666666; }
      #smoke-map-container .smoke-map-legend-container .legend-block.grey-5 {
        background-color: #444444; }
      #smoke-map-container .smoke-map-legend-container .legend-block.grey-6 {
        background-color: #222222; }
      #smoke-map-container .smoke-map-legend-container .legend-block .text {
        margin-top: -17px; }
    #smoke-map-container .smoke-map-legend-container span {
      font-size: 10px;
      vertical-align: bottom; }
  #smoke-map-container #smoke-map-states path {
    stroke: black;
    fill: #fafafa;
    opacity: 0.4; }
  #smoke-map-container #smoke-map-states .state-label {
    fill: black;
    font-weight: bold; }
  #smoke-map-container #smoke-map-states.active path {
    stroke: #333;
    opacity: 0.4;
    cursor: pointer;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s; }
    #smoke-map-container #smoke-map-states.active path:hover {
      opacity: 0.7; }
    #smoke-map-container #smoke-map-states.active path.selected {
      opacity: 0.8;
      stroke: #444; }
  #smoke-map-container #smoke-map-states.active .state-label {
    fill: #333; }
  #smoke-map-container #smoke-map-counties.active path {
    opacity: 0.75; }
  #smoke-map-container #smoke-map-counties path {
    fill: #fafafa;
    stroke: rgba(153, 153, 153, 0.5);
    stroke-width: 1px;
    cursor: pointer;
    -webkit-transition: fill 0.2s;
    transition: fill 0.2s; }
    #smoke-map-container #smoke-map-counties path.color-1 {
      fill: #70fb5e; }
    #smoke-map-container #smoke-map-counties path.color-2 {
      fill: #c3fb68; }
    #smoke-map-container #smoke-map-counties path.color-3 {
      fill: #fbf45d; }
    #smoke-map-container #smoke-map-counties path.color-4 {
      fill: #fbbb4b; }
    #smoke-map-container #smoke-map-counties path.color-5 {
      fill: #fb6b41; }
    #smoke-map-container #smoke-map-counties path.color-6 {
      fill: #df4434; }
    #smoke-map-container #smoke-map-counties path.color-7 {
      fill: #922c21; }
    #smoke-map-container #smoke-map-counties path:not(.disabled):hover {
      opacity: 0.9; }
    #smoke-map-container #smoke-map-counties path:not(.disabled).selected {
      opacity: 1;
      stroke: #444; }
    #smoke-map-container #smoke-map-counties path.disabled {
      cursor: default;
      fill: #ccc; }
    #smoke-map-container #smoke-map-counties path.accent {
      fill: black; }
  #smoke-map-container #smoke-map-population circle {
    fill: transparent;
    opacity: 0.8;
    stroke-width: 2;
    stroke: #aaaaaa; }
  #smoke-map-container #smoke-map-tooltip {
    display: none;
    position: absolute;
    left: 340px;
    bottom: 50px;
    width: 190px;
    padding: 5px;
    background-color: white;
    border: 1pt solid #ddd;
    border-radius: 2px;
    font-size: 12px;
    z-index: 5; }
    #smoke-map-container #smoke-map-tooltip.higher {
      bottom: 90px; }
    #smoke-map-container #smoke-map-tooltip.disabled {
      color: #999; }

#smoke-map-cover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  padding: 10% 25%;
  background-color: white;
  box-sizing: border-box; }
  #smoke-map-cover p {
    font-size: 30px;
    margin-bottom: 20px; }
  #smoke-map-cover input {
    width: 100%;
    outline: none;
    padding: 10px;
    font-size: 20px; }
  #smoke-map-cover.hidden {
    display: none; }
