/*
 * Interactive map styles
 * Rafi Khan
 * December 22, 2014
 */
/* Variables */
/* Everything scoped inside the smoke-map div */
.smoke-map {
  /* Data container styles */
  /* Legend container styles */
  /* State layer styles */
  /* County Styles */ }
  .smoke-map * {
    box-sizing: border-box; }
  .smoke-map #smoke-map-map {
    width: 1000px;
    height: 600px;
    position: relative; }
  .smoke-map svg {
    width: 100%;
    height: 100%;
    position: relative; }
  .smoke-map #smoke-map-data-container {
    position: absolute;
    top: 50px;
    left: 20px;
    width: 300px;
    background-color: #eee;
    border: 1pt solid #ddd;
    border-radius: 2px;
    padding: 10px;
    display: none;
    z-index: 1; }
    .smoke-map #smoke-map-data-container.shown {
      display: block; }
  .smoke-map #smoke-map-legend-container {
    z-index: 2;
    position: absolute;
    bottom: 10px;
    left: 20px; }
  .smoke-map #states path {
    stroke: #777;
    stroke-width: 1pt;
    fill: #ddd; }
  .smoke-map #counties path {
    opacity: 0.7;
    fill: #fafafa;
    stroke: #dddddd;
    stroke-width: 1px;
    cursor: pointer;
    -webkit-transition: fill 0.2s;
    transition: fill 0.2s; }
    .smoke-map #counties path:hover {
      opacity: 0.9; }
    .smoke-map #counties path.index-1 {
      fill: #70fb5e; }
    .smoke-map #counties path.index-2 {
      fill: #c3fb68; }
    .smoke-map #counties path.index-3 {
      fill: #fbf45d; }
    .smoke-map #counties path.index-4 {
      fill: #fbbb4b; }
    .smoke-map #counties path.index-5 {
      fill: #fb6b41; }
    .smoke-map #counties path.selected {
      opacity: 1;
      stroke: #444; }
    .smoke-map #counties path.disabled {
      cursor: default;
      fill: #dddddd; }
