/*
 * Interactive map styles
 * Rafi Khan
 * December 22, 2014
 */

* { box-sizing: border-box; }
body, html {
  height: 100%; width: 100%;
  padding: 0; margin: 0;
  font: 16px/1.3 'helvetica';
}

.container {
  padding: 30px;
}

#map, #map svg {
  width: 1000px;
  height: 600px;
  position: relative;
}

/* Data container styles */
#data-container {
  position: absolute;
  top: 50px; right: 50px;
  z-index: 1;
  background-color: rgba(255,255,255, 0.9);
  border: 1pt solid white;
  padding: 10px;
  display: none;
}
#data-container.shown {
  display: block;
}

/* Map Styles */
path {
  fill: #eee;
  stroke: #999;
  stroke-width: 1pt;
  cursor: pointer;
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}
path:hover {
  fill: #fafafa;
}
path.selected {
  fill: #fb716e;
}
path.disabled {
  cursor: default;
  fill: #999;
}